@import "../../common.scss";

.container{
  height: 100vh;
}
.text-title {
  color: aqua;
  margin-top: 20px;
  @include line-ellipsis-x(1)
}

.text-desc {
  color: blue;
  margin-top: 10px;
  @include line-ellipsis-x(2)
}
